@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black text-white min-h-full m-0;
  font-family: -apple-system, 'Cinzel Decorative', 'Cinzel', 
    'Cormorant Garamond', BlinkMacSystemFont, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
